//colors
$white: #fff;
$black: #000;
$lightBlue: #cbd4db;
$darkerBlue: #080b4f;
$purple: #364cf4;
$mainBlue: #080b4f;
$mainGold: #fecf02;
// $background: #020517;
$background: #ffffff;
$grey: #9d9d9d;

//fonts
$bodyFont: "Source Sans Pro", sans-serif;
$headingFont: "Montserrat", sans-serif;
$headingFontSize: 22px;
