//colors
$white: #fff;
$black: #000;
$lightBlue: #cbd4db;
$darkerBlue: #080B4F;
$purple: #364cf4;
// $background: #020517;
$background: white;

//fonts
$bodyFont: 'Raleway',
sans-serif;
$headingFont:'Raleway',
sans-serif;
$headingFontSize: 22px;
