//colors
$white: #fff;
$black: #000;
$lightBlue: #cbd4db;
$darkerBlue: #acb6be;
$purple: #364cf4;
$background: #020517;

//fonts
$bodyFont: 'Raleway',
sans-serif;
$headingFont:'Source Sans Pro',
sans-serif;
